{% extends 'asset_inventory/base/base.html' %}
{% block title %}Members List{% endblock %}

{% block subcontent %}
<h2 id='header'>People</h2>
<a href={% url asset_inventory.views.add_edit_item 'Person' 'add' 'new' %}>Add</a>
<table border="2" width="500px">
    <tr>
        <th><b>Department</b></th>
        <th><b>Job Title</b></th>
        <th><b>Person</b></th>
        <th><b>Edit</b></th>
    </tr>
{% for item in people %}
    <tr>
        <td>{{ item.job_info.unit }}</td>
        <td>{{ item.job_info.title }}</td>
        <td>{{ item.first_name }} {{item.last_name }}</td>
        <td><a href={% url asset_inventory.views.add_edit_item 'Person' 'edit' item.id %}>Edit</a></td>
    </tr>
{% endfor %}
</table>
{% endblock %}
