{% extends 'asset_inventory/base/base.html' %}

{% block title %}Jobs List{% endblock %}

{% block subcontent %}
<h2 id='header'>Job Titles</h2>
<a href={% url asset_inventory.views.add_edit_item 'Job' 'add' 'new' %}>Add</a>
<table border="2" width="500px">
    <tr>
        <th><b>Department</b></th>
        <th><b>Job Title</b></th>
        <th><b>Edit</b></th>
    </tr>
{% for item in jobs %}
    <tr>
        <td>{{ item.unit }}</td>
        <td>{{ item.title }} </td>
        <td><a href={% url asset_inventory.views.add_edit_item 'Job' 'add' item.id %} />Edit</a></td>
    </tr>
{% endfor %}
</table>
</ul>
{% endblock %}
