{% extends 'asset_inventory/base/base.html' %}

{% block title %}Housing Inventory: Locations Form{% endblock %}

{% block subcontent %}
{% if form.errors %}

<div class="ErrorBox">
	Please correct the following error{{ form.errors|pluralize }}.
	<br /><br />
	&nbsp&nbsp&nbsp
	{% if form.building.errors %}<b>A Building Selection is required.</b><br />{% endif %}
	&nbsp&nbsp&nbsp
	{% if form.location_type.errors %}<b>A location Type must be selected from the drop down list.</b><br />{% endif %}
</div>
{% endif %}

<form action="" method="post">{% csrf_token %}
	<div class='formEntry'>
		<label for="id_building">Building:</label>
		{{ form.building }}
	</div>
	<div class='formEntry'>
		<label for="id_location_type">Location Type:</label>
		{{ form.location_type }}
	</div>
	<div class='formEntry'>
		<label for="id_room">Room Number:</label>
		{{ form.room }}
	</div>
	<div class='formEntry'>
		<label for="id_station_location">Station Location:</label>
		{{ form.station_location }}
	</div>
	<div class='formEntry'>
		<label for="id_lock_type">Lock Type:</label>
		{{ form.lock_type }}
	</div>
	<input type="submit" value="Submit">
</form>
{% endblock %}

