{% extends 'asset_inventory/base/base.html' %}

{% block title %}{{ device }}{% endblock %}

{% block subcontent%}

<h3>{{ device }}</h3>

<td>Last Updated:</td><td>{{ device.last_update }}</td>
<a href={% url asset_inventory.views.add_edit_item 'Device' 'edit' device.id %}>Edit</a><br /><br />

<p><a href={% url asset_inventory.views.list_model 'Person' %}>{{ device.Person_ID }}</a><br /></p>

<table border="3" width="500px">
    <tr>
        <td style="width:200px"><b>Host Name</b></td>
        <td>{{ device.hostname }}</td>
    </tr>
    <tr>
        <td><b>Teamviewer ID</b></td>
        <td>{{ device.teamviewer_ID }}</td>
    </tr>
    <tr>
        <td><b>Status</b></td>
        <td>{{ device.Status_ID }}</td>
    </tr>
</table>
<br />
<table border="2" width="500px">
    <tr>
        <td style="width:200px"><b>Brand</b></td>
        <td>{{ device.brand }}</td>
    </tr>
    <tr>
        <td><b>Model</b></td>
        <td>{{ device.model }}</td>
    </tr>
    <tr>
        <td><b>Is Dual Screen?</b></td>
        <td>{{ device.dualscreen }}</td>
    </tr>
    <tr>
        <td><b>RAM</b></td>
        <td>{{ device.ram }}</td>
    </tr>
    <tr>
        <td><b>Proc</b></td>
        <td>{{ device.proc }}</td>
    </tr>
    <tr>
        <td><b>Is x64?</b></td>
        <td>{{ device.x64 }}</td>
    </tr>
</table>
<table border="2" width="500px">
    <tr>
        <td style="width:200px"><b>Location</b></td>
        <td>{{ device.Location_ID.get_building_name }} {{ device.Location_ID.get_location_type }}</td>
    </tr>
    {% if device.Location_ID.get_location_type != "Administrative" %}
    <tr>
        <td><b>Station #</b></td>
        <td>{{ device.Location_ID.station_location }}</td>
    </tr>
    {% endif %}
    <tr>
        <td><b>Room #</b></td>
        <td>{{ device.Location_ID.room }}</td>
    </tr>
    <tr>
        <td><b>Serial Number</b></td>
        <td>{{ device.serial }}</td>
    </tr>
    <tr>
        <td><b>State ID</b></td>
        <td>{{ device.state_id }}</td>
    </tr>
    <tr>
        <td><b>Purchase Information</b></td>
        <td><a href={% url asset_inventory.views.view_item 'Purchase' device.purchase_ID_id %}> {{ device.purchase_ID }}</a></td>
    </tr>
</table>

<a href={% url asset_inventory.views.add_edit_item 'Device' 'edit' device.id %}>Edit</a><br /><br />
{% endblock %}
