{% extends 'asset_inventory/base/base.html' %}

{% block title %}Esign #{{ esign }}{% endblock %}

{% block subcontent %}

<h3>Esign #{{ esign }}</h3>

<a href={% url asset_inventory.views.add_edit_item 'Esign' 'edit' esign.id %}>Edit</a><br /><br />
Type of Esign: {{ esign.esign_type }}<br />
Esign Number: {{ esign.esign_number }}<br />
Reason: {{ esign.esign_reason }}<br /><br />
Associated Machines: [<a href={% url asset_inventory.views.add_device_esign esign.id %}>Add</a>]<br />

{% for machines in associated_machines %}

&nbsp&nbsp <a href={% url asset_inventory.views.view_item 'Device' machines.sys_ID.id %}>{{ machines.sys_ID }} </a><br />

{% endfor %}

<br /><br />

<a href={% url asset_inventory.views.add_edit_item 'Esign' 'edit' esign.id %}>Edit</a><br /><br />
{% endblock %}
